POSTGRES_DB=ecommerce_dev
POSTGRES_USER=dev_user
POSTGRES_PASSWORD=change_me
POSTGRES_PORT=5432
RABBITMQ_USER=guest
RABBITMQ_PASS=guest
RABBITMQ_PORT=5672
RABBITMQ_MGMT_PORT=15672
APP_PORT=8080
SPRING_PROFILES_ACTIVE=dev
# JWT
JWT_SECRET=cambiar-por-un-secreto-largo-y-seguro
JWT_EXPIRATION_MS=3600000
#MP
MP_ACCESS_TOKEN=TEST-tu-access-token-de-prueba